<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_AddPriceNote>
            <version>1.0.0</version>
        </Quafzi_AddPriceNote>
    </modules>
    <global>
        <blocks>
            <quafzi_addpricenote>
                <class>Quafzi_AddPriceNote_Block</class>
            </quafzi_addpricenote>
        </blocks>
        <helpers>
            <quafzi_addpricenote>
                <class>Quafzi_AddPriceNote_Helper</class>
            </quafzi_addpricenote>
        </helpers>
        <models>
            <quafzi_addpricenote>
                <class>Quafzi_AddPriceNote_Model</class>
            </quafzi_addpricenote>
        </models>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <quafzi_addpricenote_observer>
                        <class>quafzi_addpricenote/observer</class>
                        <method>addPriceNote</method>
                    </quafzi_addpricenote_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Quafzi_AddPriceNote>
                    <files>
                        <quafzi_addpricenote>Quafzi_AddPriceNote.csv</quafzi_addpricenote>
                    </files>
                </Quafzi_AddPriceNote>
            </modules>
        </translate>
    </frontend>
</config>
